# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'ucARMPipeline-conn'
    subscriptionId: 'b5b1434c-b906-4c00-a6ab-27ab5b63052d'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'ARMPipeline-rg'
    location: 'Central US'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://raw.githubusercontent.com/uceworld/ucARMPipeline-repo/refs/heads/main/create_web_app/azuredeploy.json'
    overrideParameters: '-projectName ucarm01'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'
